/* #mydiv {
  background-color: aqua;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  margin-left: 50vw;
  position: relative;
}
#btn {
  text-align: center;
  margin-top: 50%;
} */

/* .color {
  background-color: blue;
  color: white;
}
.dum {
  border: 1px solid #ccc;
  padding: 100px;
} */
/* #srcol {
  height: 2000px;
} */

/****************************************** 
 *                      Mini Project -1
                  tempetrure converter
 ******************************************/

/* body {
  background-color: blanchedalmond;
  align-items: center;
  text-align: center;
}

.input-div {
  display: inline-block;
}
.inp {
  padding: 5px 10px;
  margin: 10px;
  font-weight: 30px;
  font-size: 30px;
  width: 250px;
  text-align: center;
}
label {
  font-size: 22px;
} */

/******************************************
 *                      Mini Project -2   
                  word and char counter 
 ******************************************/

/* body {
  padding: 50px 100px;
  background-color: burlywood;
  text-align: center;
}
h1 {
  background-color: aqua;
  padding: 10px;
  margin: 0px;
  width: 389px;
  text-align: center;
  margin-left: 426px;
}

#textbox {
  width: 400px;
  border-color: blue;
}
textarea {
  font-size: 20px;
}

p {
  text-align: center;
  background-color: aquamarine;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
  width: 388px;
  justify-content: center;
  align-items: center;
  margin-left: 430px;
} */

/************ favrite movie********** */

/******************************************
 *                      ADVANCED
                         JAVASCRIP
                        
 ******************************************/
